{% extends "base.html" %}
{% block title %} Главная {% endblock%}
{% block content %}
    <h1>Главная страница</h1>

    {% with total_images_created=request.user.images_created.count %}
    <p>Добро пожаловать на вашу страницу. {{ total_images_created }} изображений {{ total_images_created|pluralize }}</p>
    {% endwith %}
    <p>Переместите кнопку в поле закладок браузера и скачивайте картинки с других сайтов (пока не работает) →
        <a href="javascript:{% include "bookmarklet_launcher.js" %}" class="button">В закладки</a>
    </p>
    <p>
        Вы можете <a href="{% url "edit" %}">изменить ваш профиль</a>
        или <a href="{% url "password_change" %}">изменить пароль.</a>
    </p>
{% endblock %}


